.equalizer-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* width: 75rem;
  width: 115rem; */
  height: 60rem;
  background-color: #222;
  z-index: 1800;
  border-radius: 11px;
  padding: 3rem;
  border: 3px solid var(--primary-color);
}

.eq-controls {
  height: 84%;
}

.eq-control-ui {
  display: flex;
  gap: 3.5rem;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.control-ui {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2.3rem;
  align-items: center;
  justify-content: center;
}

.display,
.label {
  font-size: 1.4rem;
  font-weight: 600;
}

.display {
  width: 6rem;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.track {
  position: relative;
  flex-grow: 1;
  width: 2rem;
  border: 3px solid var(--primary-color);
  border-radius: 20px;
  background-color: rgba(var(--primary-rgb), 0.45);
  cursor: pointer;
}

.thumb {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 4rem;
  height: 4rem;
  background-image: linear-gradient(
    45deg,
    var(--secondary-color) 30%,
    var(--primary-color) 60%
  );
  border-radius: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.knob-ui {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  height: 100%;
}

.knob {
  width: 17rem;
  height: 17rem;
  background-image: radial-gradient(
    circle,
    #1a1a1a 40%,
    #0f0f0f 60%,
    #1b2a3a 90%
  );
  border-radius: 50%;
  border: 2px solid #444;
  cursor: pointer;
  position: relative;
}

.knob::after {
  content: "";
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 4px;
  height: 25%;
  background-color: var(--primary-color);
  border-radius: 20px;
  transform-origin: bottom;
}