@use './mixins' as mixin;

.error-note {
  @include mixin.position-center;
  width: 40vw;
  height: 50vh;
  border-radius: 11px;
  z-index: 2000;

  background-color: #222;
  border: 3px solid var(--primary-color);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  @include mixin.setTransition;
}

.error-icon {
  font-size: 10rem;
  color: var(--primary-color);
}

.error-msg {
  font-size: 1.5rem;
  font-weight: 500;
}

.err-btn {
  font-family: inherit;
  display: inline-block;
  border: none;
  background-color: var(--primary-color);
  color: #121212;
  padding: 0.8rem 1.6rem;
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
  @include mixin.setTransition;
}

.err-btn:hover {
  transform: scale(1.15);
}

.line-md--alert-loop {
  color: var(--primary-color);
}