@use './mixins' as mixin;

.filter-tags {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1.3rem var(--default-padding) 1.2rem var(--default-padding);
  background-image: linear-gradient(to bottom, #121212 40%, transparent 100%);
  z-index: 150;
  overflow-x: auto;
  scrollbar-width: none;
  user-select: none;
  cursor: grab;
  -ms-overflow-style: none;
}

.filter-tags::-webkit-scrollbar {
  display: none;
}

.filter-tag {
  @include mixin.flex-center;
  padding: 0.5rem 1.2rem;
  background-color: rgba(37, 37, 37, 0.7);
  color: #fff;
  border-radius: 40px;
  font-size: 1.2rem;
  font-weight: 500;
  white-space: nowrap;
  cursor: pointer;
  @include mixin.setTransition;
}