@use "./mixins" as mixin;

.expand {
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 0 !important;
  border: none !important;
  padding: 3rem !important;

  & .control-imgbox {
    height: 30rem;
    width: 30rem;
    border-width: 5px;
  }

  & .total-control {
    width: 100%;
    flex-grow: 0;
  }

  & .song-control-info {
    width: 33.5%;
  }
}

.playbar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 2.7rem 3rem;
  gap: 2rem;
  border-top: 3px solid var(--primary-color);
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  z-index: 300;
  @include mixin.setTransition;
}

.playbar-close-btn {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -100%);

  @include mixin.flex-center;
  width: 6rem;
  height: 3rem;
  border-radius: 100px 100px 0 0;
  background-color: var(--primary-color);
  border: none;
  cursor: pointer;
}

.playbar-minimize {
  border: none;
  height: 4rem;
  width: 4rem;
  background: transparent;
  color: var(--primary-color);
  cursor: pointer;

  position: absolute;
  top: 3rem;
  left: 3rem;
}

.control-imgbox {
  height: 10rem;
  width: 10rem;
  overflow: hidden;
  border: 3px solid var(--primary-color);
  position: relative;
  cursor: pointer;
  flex-shrink: 0;

  & .playbar-cast-icon {
    @include mixin.position-center;
    color: var(--primary-color);
  }
}

.control-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.playbar-user {
  &-info {
    display: flex;
    flex-direction: column;
    align-self: start;
    gap: 1.5rem;
  }

  &-box {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    font-size: 1.6rem;
    font-weight: 600;
  }

  &-imgbox {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    overflow: hidden;
  }

  &-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  &-stats {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 600;
    gap: 1.2rem;

    & p {
      display: flex;
      gap: 0.4rem;
    }
  }

  &-published-on {
    color: var(--primary-color);
  }
}

.playbar-extra {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &-btn {
    width: 6rem;
    height: 6rem;
    font-size: 4rem;
    @include mixin.flex-center;
    border: none;
    background-image: linear-gradient(
      45deg,
      var(--secondary-color) 30%,
      var(--primary-color) 60%
    );
    border-radius: 50%;
    @include mixin.setTransition;
    cursor: pointer;

    & span {
      height: 4.5rem;
      width: 4.5rem;
    }

    &:hover {
      transform: scale(1.1);
    }
  }
}

.playbar-report-btn {
  width: 3.5rem;
  height: 3.5rem;
  @include mixin.flex-center;
  border: none;
  font-family: inherit;
  border-radius: 50%;
  background-image: linear-gradient(
    45deg,
    var(--secondary-color) 30%,
    var(--primary-color) 60%
  );
  font-size: 2rem;
  font-weight: 600;
  cursor: pointer;
  @include mixin.setTransition;

  &:hover {
    transform: scale(1.1);
  }
}

.total-control {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  gap: 0.5rem;
}

.song-control-1 {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.seekbar {
  width: 100%;
  height: 1rem;
  background-color: #121212;
  border: 2px solid var(--primary-color);
  position: relative;
  border-radius: 10px;
  cursor: pointer;
}

.bar-circle {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 2.3rem;
  height: 2.3rem;
  border-radius: 50%;
  background-color: var(--primary-color);
  cursor: pointer;
  z-index: 2;
}

.progress-fill {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  background-color: var(--primary-color);
  z-index: 1;
}

.buffered-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  background-color: rgba(var(--primary-rgb), 0.388);
  border-radius: 10px;
  z-index: 0;
}

.duration-info {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  font-weight: 600;
  color: #bbb;
}

.song-control-2 {
  display: flex;
  align-items: center;
}

.song-control-info {
  width: 26%;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.song-control-title {
  font-size: 1.8rem;
  font-weight: 600;
  text-wrap: nowrap;
  overflow: hidden;
}

.song-control-author {
  font-size: 1.4rem;
  color: #bbb;
  font-weight: 500;
  text-wrap: nowrap;
  overflow: hidden;
}

.sound-control {
  display: flex;
  align-items: center;
  gap: 2rem;
  flex: 1;
}

.control-btns {
  @include mixin.flex-center;
  gap: 5rem;
  width: 49%;
}

.control-btn {
  border: none;
  @include mixin.flex-center;
  height: 5.5rem;
  width: 5.5rem;
  border-radius: 50%;
  font-size: 3.5rem;
  background-image: linear-gradient(
    45deg,
    var(--secondary-color) 30%,
    var(--primary-color) 60%
  );
  color: #121212;
  cursor: pointer;
  @include mixin.setTransition;
  flex-shrink: 0;
}

.control-btn:hover {
  transform: scale(1.15);
}

.show-lyrics {
  @include mixin.flex-center;
  height: 4rem;
  width: 4rem;
  background-color: transparent;
  color: var(--primary-color);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  @include mixin.setTransition;

  &:hover {
    transform: scale(1.09);
  }
}

.volume-control {
  @include mixin.flex-center;
  flex-grow: 1;
  // width: 50%;
  gap: 1.5rem;
  font-size: 4rem;
  color: var(--primary-color);
}

.speaker-iconbox {
  @include mixin.flex-center;
}

.volume-bar {
  width: 100%;
  height: 0.9rem;
  border: 2px solid var(--secondary-color);
  border-radius: 11px;
  position: relative;
  cursor: pointer;
}

.volume-circle {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  width: 1.9rem;
  height: 1.9rem;
  border-radius: 50%;
  background-color: var(--secondary-color);
  cursor: pointer;
  z-index: 2;
}

.volume-fill {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  background-color: var(--secondary-color);
  z-index: 1;
}

.playbar-report-btn {
  position: absolute;
  top: 3rem;
  right: 3rem;
}