@container playlistContainer (max-width: 111rem) {
  .cardContainer {
    grid-template-columns: repeat(4, 1fr);
  }
}

@container playlistContainer (max-width: 93.2rem) {
  .cardContainer {
    grid-template-columns: repeat(3, 1fr);
  }

  .control-btns {
    gap: 4rem;
  }

  .control-btn {
    width: 5rem;
    height: 5rem;
    font-size: 3rem;
  }
}

@container playlistContainer (max-width: 89.5rem) {
  .playbar {
    padding: 2rem;
  }

  .total-control {
    width: 100%;
  }

  .seekbar {
    height: 0.8rem;
  }

  .bar-circle {
    width: 2rem;
    height: 2rem;
  }

  .song-control-title {
    font-size: 1.4rem;
  }

  .song-control-author {
    font-size: 1.2rem;
  }

  .control-btns {
    gap: 3rem;
  }

  .control-btn {
    width: 4.5rem;
    height: 4.5rem;
    font-size: 2.5rem;
  }

  .speaker-iconbox {
    font-size: 3rem;
  }

  .volume-bar {
    height: 0.7rem;
  }
}

@container playlistContainer (max-width: 70rem) {
  .control-imgbox {
    height: 7rem;
    width: 7rem;
  }

  .total-control {
    gap: 0;
  }

  .song-control-1 {
    gap: 1rem;
  }

  .seekbar {
    height: 5px;
  }

  .bar-circle {
    width: 1.5rem;
    height: 1.5rem;
  }

  .control-btns {
    gap: 2rem;
  }

  .control-btn {
    width: 3.8rem;
    height: 3.8rem;
  }

  .duration-info {
    font-size: 1rem;
  }

  .song-control-title {
    font-size: 1.4rem;
  }

  .song-control-author {
    font-size: 1.2rem;
  }

  .volume-control {
    gap: 1rem;
  }
}

@container playlistContainer (max-width: 60rem) {
  .songs-section {
    padding: 0;
  }

  .playlist-cover-imgbox {
    width: 18rem;
    height: 18rem;
  }
}

@media (max-width: 89.5em) {
  .left {
    width: 40%;
  }
}

@media (max-width: 76em) {
  .cardContainer {
    grid-template-columns: repeat(2, 1fr);
  }

  .eq-control-ui {
    gap: 1rem;
  }

  .track {
    width: 1rem;
  }

  .thumb {
    width: 3rem;
    height: 3rem;
  }

  .knob {
    width: 12rem;
    height: 12rem;
  }
}

@media (max-width: 55em) {
  html {
    font-size: 56.5%;
  }

  .left {
    width: 45%;
  }

  .right .header {
    padding: 1rem;
  }

  .btn-nav {
    height: 3.5rem;
    width: 3.5rem;

    & span {
      height: 2.5rem;
      width: 2.5rem;
    }
  }

  .eq-toggle {
    display: none;
  }

  .eq-btn {
    display: none;
  }

  .eq-settings {
    display: flex;
  }

  .btn {
    padding: 0.6rem 1.2rem;
    font-size: 1.2rem;
  }

  .cardContainer {
    grid-template-columns: repeat(1, 1fr);
    gap: 1.5rem;
    box-shadow: none;
  }

  .playlist h1 {
    font-size: 1.8rem;
  }

  .card {
    width: 100%;
    height: 8rem;
    display: flex;
    gap: 1.2rem;
    align-items: center;
    box-shadow: 0 0 0 0 var(--primary-color);
    background-image: linear-gradient(45deg, var(--primary-color) -200%, #121212 75%);
  }

  .card-imgbox {
    width: 6rem;
    height: 6rem;
    margin: 0;
  }

  .card h2 {
    font-size: 1.6rem;
  }

  .card p {
    display: none;
  }

  .card-btn-play {
    top: 50%;
    left: 50%;
    opacity: 1;
    height: 3.5rem;
    width: 3.5rem;
    transform: translate(-50%, -50%);
  }

  .card:hover .card-btn-play {
    opacity: 1;
  }
}

@media (max-width: 50em) {
  .left {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    gap: 0;
    padding-right: var(--ui-gap);
    z-index: 300;
    transition: all 0.4s;
  }

  .left-section-exit {
    display: inline-block;
  }

  .home {
    border-radius: 7px 7px 0 0;
  }

  .library {
    border-radius: 0 0 7px 7px;
  }

  .btn-nav-3 {
    display: flex;
    width: 4.2rem;
    height: 3.5rem;
    border-radius: 7px;
  }

  .songs-section {
    padding: 0;
  }

  .main-settings {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0;
  }

  .left-settings-tab .box-heading {
    font-size: 1.7rem;
    gap: 0.5rem;
  }

  .left-settings-tab {
    width: 28%;
    padding: 2.5rem 0;
  }

  .settings-tab-btns {
    gap: 0.5rem;
  }

  .settings-tab-btn {
    padding: 0.8rem 0.8rem;
    border-radius: 0;
  }

  .right-settings-container {
    width: 72%;
    padding: 2.2rem;

    & .box-heading {
      font-size: 2rem;
    }
  }

  .history-container {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0;
  }

  .equalizer-box {
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 0;
  }

  .knob-ui {
    display: none;
  }

  .error-note {
    width: 50vh;
    width: 60vw;
    padding: 3.5rem;
  }

  .error-icon {
    font-size: 6.5rem;
  }

  .error-msg {
    text-align: center;
  }
}