@use './mixins' as mixin;

.main-settings {
  @include mixin.position-center;
  background-color: #121212;
  border-radius: 11px;

  width: 80rem;
  height: 55rem;
  border: 3px solid var(--primary-color);
  z-index: 1800;

  display: flex;
  overflow: hidden;
  @include mixin.setTransition;

  &-icon {
    font-size: 2.5rem;
  }
}

.left-settings-tab {
  width: 30%;
  background-color: #282828;
  padding: 2.5rem 1rem;

  & .box-heading {
    font-size: 2rem;
    @include mixin.flex-center;
    gap: 0.8rem;

    & span {
      color: var(--primary-color);
    }
  }
}

.settings-tab-btns {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.settings-tab-btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  border: none;
  background-color: transparent;
  padding: 0.8rem 1.3rem;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
  border-radius: 4px;
  cursor: pointer;
  @include mixin.setTransition;

  &:hover {
    background-color: #323232;
  }
}

.right-settings-container {
  flex-grow: 1;
  background-color: #222;
  padding: 2.5rem 2rem;
  overflow: auto;
}

.settings-sub-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &__heading {
    font-size: 1.6rem;
    font-weight: 500;
  }

  &__text {
    font-size: 1.2rem;
    color: #ccc;
  }
}

.settings-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.5rem;
  justify-items: center;
  align-items: center;
  padding: 2rem 0;
}

.theme-color {
  width: 8rem;
  height: 8rem;
  border-radius: 5px;
  box-shadow: 0 0 0 2px var(--primary-color);
  @include mixin.setTransition;
  cursor: pointer;

  &-1 {
    background-image: linear-gradient(45deg, #f3ba3e, #f08c00);
  }

  &-2 {
    background-image: linear-gradient(45deg, #1c7ed6, #1864ab);
  }

  &-3 {
    background-image: linear-gradient(45deg, #ae3ec9, #862e9c);
  }

  &-4 {
    background-image: linear-gradient(45deg, #d6336c, #a61e4d);
  }

  &-5 {
    background-image: linear-gradient(45deg, #74b816, #5c940d);
  }

  &-6 {
    background-image: linear-gradient(45deg, #37b24d, #2b8a3e);
  }

  &-7 {
    background-image: linear-gradient(45deg, #c084fc, #a855f7);
  }

  &-8 {
    background-image: linear-gradient(45deg, #ff3c9e, #ff6b00);
  }

  &-9 {
    background-image: linear-gradient(45deg, #5b21b6, #9333ea);
  }

  &-10 {
    background-image: linear-gradient(45deg, #15aabf, #0c8599);
  }
}