.main-settings {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #121212;
  border-radius: 11px;

  width: 75rem;
  height: 50rem;
  border: 3px solid var(--primary-color);
  z-index: 1800;
}