* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/* Primary colors: #f3ba3e, #1c7ed6, #ae3ec9, #d6336c, #74b816, #37b24d, #31572c, #c084fc, #ff3c9e, #5b21b6
   Primary RGB: 243, 186, 62; 28, 126, 214; 174, 62, 201; 214, 51, 108; 116, 184, 22; 55, 178, 77; 49, 87, 44;
   Secondary colors: #f08c00, #1864ab, #862e9c, #a61e4d, #5c940d, #2b8a3e, #1b3a24, #a855f7, #ff6b00, #9333ea
*/

:root {
  --col-num: 5;
  --grid-gap: 2rem;
  --left-width: 26vw;
  --right-width: 74vw;
  --primary-color: #f3ba3e;
  --primary-rgb: 243, 186, 62;
  --secondary-color: #f08c00;
  --logo-icon-size: 3.7rem;
  --ui-gap: 0.8rem;
  --icon-text-gap: 1rem;
  --default-font-size: 1.4rem;
  --default-padding: 2rem;
  --card-playBtn-pos: 0.8rem;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #000;
  color: #fff;
  box-sizing: border-box;
}

.main {
  position: relative;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1500;
  backdrop-filter: blur(10px);
  transition: all 0.3s;
}

.error-note {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40vw;
  height: 50vh;
  border-radius: 11px;
  z-index: 2000;

  background-color: #222;
  border: 3px solid var(--primary-color);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  transition: all 0.3s;
}

.error-icon {
  font-size: 10rem;
  color: var(--primary-color);
}

.error-msg {
  font-size: 1.5rem;
  font-weight: 500;
}

.err-btn {
  font-family: inherit;
  display: inline-block;
  border: none;
  background-color: var(--primary-color);
  color: #121212;
  padding: 0.8rem 1.6rem;
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s;
}

.err-btn:hover {
  transform: scale(1.15);
}

.line-md--alert-loop {
  color: var(--primary-color);
}

.link {
  display: inline-block;
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
}

.container {
  height: 100vh;
}

.left {
  width: var(--left-width);
  padding: var(--ui-gap) 0 var(--ui-gap) var(--ui-gap);
  gap: var(--ui-gap);

  container-type: inline-size;
  container-name: library;
}

.divider {
  width: var(--ui-gap);
  cursor: ew-resize;
}

.right {
  flex-grow: 1;
  margin: var(--ui-gap) var(--ui-gap) var(--ui-gap) 0;
  gap: var(--ui-gap);
  overflow: hidden;
  position: relative;

  container-type: inline-size;
  container-name: playlistContainer;
}

/* Left side stylings */

.home {
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.settings {
  border: none;
  color: var(--primary-color);
  width: 3.5rem;
  height: 3.5rem;
  background: none;

  position: absolute;
  top: var(--default-padding);
  right: var(--default-padding);
  cursor: pointer;
  z-index: 15;
  transition: all 0.3s;
}

.settings:hover {
  transform: scale(1.2);
}

.home {
  padding: var(--default-padding);
}

.library {
  padding: 0 var(--default-padding) var(--default-padding)
    var(--default-padding);
}

.logo-box {
  height: 5rem;
  margin-bottom: 0.8rem;
}

.logo-img {
  width: 100%;
  height: 100%;
}

.home ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.home-li {
  z-index: 10;
  display: flex;
  align-items: center;
  gap: var(--icon-text-gap);
  font-weight: 500;
  border-radius: 7px;
  transition: all 0.3s;
}

.search-box {
  display: flex;
  gap: 1.2rem;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(18, 18, 18, 0.5);
  padding: 0.5rem;
  border-radius: 100px;
  overflow: hidden;
  z-index: 100;
  max-width: 40rem;
}

.input {
  display: inline-block;
  background-color: transparent;
  color: #fff;
  padding: 0.7rem 1.4rem;
  font-size: 1.4rem;
  font-weight: 600;
  border: none;
  flex-grow: 1;
}

.input:focus {
  outline: none;
}

.input::placeholder {
  color: rgba(255, 255, 255, 0.2);
  transition: all 0.3s;
}

.search-mic-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: #121212;
  color: var(--primary-color);
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s;
}

.search-mic-btn:hover {
  background-color: var(--primary-color);
  color: #121212;
}

.library {
  position: relative;
  /* min-height: 70vh; */
  flex: 1;
  /* overflow: scroll; */
}

.library h2 {
  gap: 0.5rem;
  font-size: 1.3rem;
  /* background-color: green; */
  padding: 0.4rem 0.8rem;
  border-radius: 7px;
  cursor: pointer;
  white-space: nowrap;
  transition: all 0.3s;
}

.active-left-windowtab {
  color: var(--primary-color);
}

.left-window {
  height: 63vh;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding: 1rem;
  overflow: scroll;
}

.left-window-btns {
  display: flex;
  gap: 3rem;
  justify-content: space-around;
  align-items: center;
  margin: 1.2rem 0;
}

.song-card {
  height: 7rem;
  gap: 1rem;
  /* background-color: orange; */
  justify-content: space-between;
  padding: 1rem;
  cursor: pointer;
  transition: all 0.3s;
}

.song-card:hover {
  box-shadow: 0 0 0 3px var(--primary-color);
}

.song-card-imgbox {
  height: 5rem;
  width: 5rem;
  overflow: hidden;
  border-radius: 50%;
}

.song-card-img {
  width: 100%;
  height: 100%;
}

.song-card-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  /* width: 18.2rem; */
  overflow: hidden;
  flex-grow: 1;
}

.song-card-name {
  font-size: 1.4rem;
  font-weight: 600;
  overflow: hidden;
  white-space: nowrap;
}

.song-card-artist {
  font-size: 1.1rem;
  color: #bbb;
  overflow: hidden;
  white-space: nowrap;
}

.like-container {
  width: 2.4rem;
  display: flex;
  align-items: center;
  transition: all 0.3s;
  color: var(--primary-color);
}

.like-container:hover {
  transform: scale(1.17);
}

.song-card-play {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  font-size: 4rem;
  color: var(--primary-color);
  cursor: pointer;
  transition: all 0.3s;
}

.song-card-play:hover {
  transform: scale(1.12);
}

.footer {
  width: 100%;
  gap: 1.5rem;
  position: absolute;
  bottom: 0rem;
  left: 0;
  color: #959595;
  flex-wrap: wrap;
  /* justify-content: center; */
  padding: 2rem;
  color: #bbb;
}

.footer a:link,
.footer a:visited {
  transition: all 0.3s;
}

.footer a:hover,
.footer a:active {
  transform: scale(1.15);
}

/* Styling for right side navigation */

.loading-ui {
  font-size: 1.6rem;
  font-weight: 600;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.right .header {
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2.5rem;
}

.header .nav {
  gap: 1rem;
}

.btn-nav {
  display: flex;
  background: none;
  border: none;
  text-align: center;
  color: var(--primary-color);
  cursor: pointer;
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}

.btn-nav-1 {
  background-color: #000;
}

.btn-nav-2 {
  background-color: transparent;
}

.btn-nav:hover {
  /* background-color: var(--primary-color);
  color: #121212; */
  transform: scale(1.16);
}

.buttons {
  gap: 2.5rem;
}

.btn {
  display: inline-block;
  border: none;
  background: none;
  padding: 1rem 2rem;
  border-radius: 50rem;
  color: #fff;
  font-family: inherit;
  font-size: var(--default-font-size);
  font-weight: 650;
  cursor: pointer;
  transition: all 0.3s;
}

.btn-trnsp:hover {
  background-color: var(--primary-color);
  color: #121212;
}

.btn-orange {
  background-image: linear-gradient(
    45deg,
    var(--secondary-color),
    var(--primary-color)
  );
  color: #121212;
  font-weight: 700;
  outline: 2px dotted var(--secondary-color);
}

.btn-orange:hover {
  transform: scale(1.1);
}

/* Styling for the playlist area */

.playlist {
  /* padding: 0 var(--default-padding) var(--default-padding)
    var(--default-padding); */
  flex: 1;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
  /* overflow: hidden; */
}

.playlist-detail-box {
  padding: 3.5rem;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #121212;
  z-index: 180;

  display: flex;
  flex-direction: column;
  gap: 3rem;
  overflow-y: auto;
  opacity: 1;
  transition: all 0.3s;
}

.playlist-details-section {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  align-items: center;
}

.playlist-cover-imgbox {
  width: 30rem;
  height: 30rem;
  border-radius: 11px;
  /* border: 0.5rem solid #f3ba3e; */
  overflow: hidden;
  box-shadow: 0 2rem 4rem rgba(var(--primary-rgb), 0.2);
}

.hide-playlist * {
  display: none;
  opacity: 0;
}

.playlist-info-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.playlist-heading {
  font-size: 2.8rem;
  font-weight: 600;
  white-space: nowrap;
}

.playlist-desc {
  font-size: 1.3rem;
  font-weight: 400;
  color: #ddd;
}

.playlist-cover-img,
.playlist-account-img {
  width: 100%;
  height: 100%;
}

.user-account {
  display: flex;
  gap: 0.8rem;
  align-items: center;
}

.user-account-imgbox {
  background-color: var(--primary-color);
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  overflow: hidden;
}

.playlist-username {
  font-size: 1.3rem;
  font-weight: 600;
}

.songs-section {
  padding: 0 6rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.exit-playlistbox {
  position: absolute;
  top: 3rem;
  left: 3rem;
  border: none;
  background: none;
  color: var(--primary-color);
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  transition: all 0.3s;
}

.exit-playlistbox:hover {
  transform: scale(1.2);
}

.filter-tags {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1.3rem var(--default-padding) 1.2rem var(--default-padding);
  background-image: linear-gradient(to bottom, #121212 40%, transparent 100%);
  z-index: 150;
  overflow-x: auto;
  scrollbar-width: none;
  user-select: none;
  cursor: grab;
  -ms-overflow-style: none;
}

.filter-tags::-webkit-scrollbar {
  display: none;
}

.filter-tag {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1.2rem;
  background-color: rgba(37, 37, 37, 0.7);
  color: #fff;
  border-radius: 40px;
  font-size: 1.2rem;
  font-weight: 500;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.3s;
}

.playlist h1 {
  padding: 0 var(--default-padding);
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.cardContainer {
  padding: 0 var(--default-padding) var(--default-padding)
    var(--default-padding);
  display: grid;
  grid-template-columns: repeat(var(--col-num), 1fr);
  column-gap: var(--grid-gap);
  row-gap: 3rem;
  align-items: center;
  justify-items: center;
}

.card {
  display: block;
  width: 20rem;
  height: 30rem;
  padding: 1.2rem;
  background-color: #252525;
  cursor: pointer;
  /* outline: 0 solid #f3ba3e; */
  transition: all 0.3s;
  box-shadow: 0 0 0 0 var(--primary-color),
    1px 5px 3rem rgba(var(--primary-rgb), 0.18);
  /* overflow: hidden; */

  position: relative;
}

.card-imgbox {
  width: 100%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  margin-bottom: 1.5rem;
  position: relative;
}

.card-img {
  width: 100%;
  height: 100%;
}

.card-btn-play {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: var(--card-playBtn-pos);
  right: var(--card-playBtn-pos);
  border: none;
  background-image: linear-gradient(
    45deg,
    var(--secondary-color) 30%,
    var(--primary-color) 60%
  );
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  color: #121212;
  box-shadow: 5px 20px 3rem rgba(0, 0, 0, 0.7);

  transform: translateY(0.9rem);
  transition: all 0.3s;
  opacity: 0;
  cursor: pointer;
}

.card-play-icons {
  transition: all 0.3s;
}

.card:hover .card-btn-play {
  opacity: 1;
  transform: translateY(0);
}

.card-btn-play:hover .card-play-icons {
  transform: scale(1.3);
}

.card h2 {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  line-height: 1.3;
}

.card p {
  font-size: 1.1rem;
  overflow: hidden;
  color: #bbb;
  height: 3rem;
}

.card:hover {
  box-shadow: 0 0 0 4px var(--primary-color);
}

.playlist-right-click {
  position: absolute;
  width: 100%;
  top: 0%;
  left: 0%;
  background-color: #252525;
  z-index: 10;
  border-radius: 7px;
  overflow: hidden;
  border: 1px solid var(--primary-color);
  transition: opacity 0.3s;
}

.floating-btn {
  font-family: inherit;
  display: flex;
  width: 100%;
  align-items: center;
  gap: 0.5rem;
  border: none;
  background-color: transparent;
  padding: 0.8rem 1rem;
  font-size: 1.4rem;
  font-weight: 600;
  color: #fff;
  transition: all 0.3s;
  cursor: pointer;
}

.floating-btn:hover {
  background-color: var(--primary-color);
  color: #121212;
}

.floating-icons {
  color: var(--primary-color);
  font-size: 1.8rem;
}

.floating-btn:hover .floating-icons {
  color: #121212;
}

.playbar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 2.7rem 3rem;
  gap: 2rem;
  border-top: 3px solid var(--primary-color);
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  transition: all 0.3s;
  z-index: 300;
}

.playbar-close-btn {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -100%);

  display: flex;
  width: 6rem;
  height: 3rem;
  border-radius: 100px 100px 0 0;
  justify-content: center;
  align-items: center;

  background-color: var(--primary-color);
  border: none;
  cursor: pointer;
}

.control-imgbox {
  height: 10rem;
  width: 10rem;
  overflow: hidden;
  border: 3px solid var(--primary-color);
}

.control-img {
  width: 100%;
  height: 100%;
}

.total-control {
  /* background-color: green; */
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}

.song-control-1 {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.seekbar {
  width: 100%;
  height: 1rem;
  background-color: #121212;
  border: 2px solid var(--primary-color);
  position: relative;
  border-radius: 10px;
  cursor: pointer;
}

.bar-circle {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 2.3rem;
  height: 2.3rem;
  border-radius: 50%;
  background-color: var(--primary-color);
  cursor: pointer;
  /* transition: all 0.4s; */
  z-index: 2;
}

.progress-fill {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  background-color: var(--primary-color);
  /* transition: all 0.4s; */
  z-index: 1;
}

.buffered-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  background-color: rgba(var(--primary-rgb), 0.388);
  border-radius: 10px;
  z-index: 0;
}

.duration-info {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  font-weight: 600;
  color: #bbb;
}

.song-control-2 {
  display: flex;
  align-items: center;
}

.song-control-info {
  width: 26%;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.song-control-title {
  font-size: 1.8rem;
  font-weight: 600;
  text-wrap: nowrap;
  overflow: hidden;
}

.song-control-author {
  font-size: 1.4rem;
  color: #bbb;
  font-weight: 500;
  text-wrap: nowrap;
  overflow: hidden;
}

.sound-control {
  display: flex;
  gap: 1rem;
  flex: 1;
}

.control-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  width: 50%;
}

.control-btn {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5.5rem;
  width: 5.5rem;
  border-radius: 50%;
  font-size: 3.5rem;
  background-image: linear-gradient(
    45deg,
    var(--secondary-color) 30%,
    var(--primary-color) 60%
  );
  color: #121212;
  cursor: pointer;
  transition: all 0.3s;
}

.control-btn:hover {
  transform: scale(1.15);
}

.volume-control {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.8rem;
  font-size: 4rem;
  color: var(--primary-color);
}

.speaker-iconbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.volume-bar {
  width: 100%;
  height: 0.9rem;
  border: 2px solid var(--secondary-color);
  border-radius: 11px;
  position: relative;
  cursor: pointer;
}

.volume-circle {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  width: 1.9rem;
  height: 1.9rem;
  border-radius: 50%;
  background-color: var(--secondary-color);
  cursor: pointer;
  z-index: 2;
}

.volume-fill {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  background-color: var(--secondary-color);
  /* transition: all 0.4s; */
  z-index: 1;
}

.history-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80rem;
  height: 60rem;
  padding: 3rem;
  z-index: 1800;
  border-radius: 11px;
  border: 3px solid var(--primary-color);
}

.history-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-grow: 1;
  padding: 2rem;
  overflow: scroll;
}

.history-card {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem;
  cursor: pointer;
  border-radius: 7px;
  transition: all 0.3s;
}

.history-card-imgbox {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  overflow: hidden;
}

.history-card-info {
  flex-grow: 1;
  overflow: hidden;
}

.history-card-name {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  white-space: nowrap;
}

.history-card-artist {
  font-size: 1.2rem;
  font-weight: 600;
  color: #bbb;
  white-space: nowrap;
}

.history-card:hover {
  transform: scale(1.04);
}

.history-time-display {
  color: var(--primary-color);
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.history-time {
  font-size: 1.8rem;
}

.history-date {
  font-size: 1.2rem;
  color: #bbb;
}

.history-playlist-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  padding: 2rem;
  border-radius: 7px;
  background-color: #252525;
  cursor: pointer;
  transition: all 0.3s;
}

.history-playlist-card:hover {
  box-shadow: 0 0 0 3px var(--primary-color);
}

.history-playlist-info {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.history-playlist-imgbox {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  overflow: hidden;
}

.history-playlist-img {
  width: 100%;
  height: 100%;
}

.history-playlist-name {
  font-size: 1.6rem;
  font-weight: 600;
}

.history-playlist-name span {
  color: var(--primary-color);
}

.history-playlist-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 7px;
}

.equalizer-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* width: 75rem;
  width: 115rem; */
  height: 60rem;
  background-color: #222;
  z-index: 1800;
  border-radius: 11px;
  padding: 3rem;
  border: 3px solid var(--primary-color);
}

.eq-controls {
  height: 84%;
}

.eq-control-ui {
  display: flex;
  gap: 3.5rem;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.control-ui {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2.3rem;
  align-items: center;
  justify-content: center;
}

.display,
.label {
  font-size: 1.4rem;
  font-weight: 600;
}

.display {
  width: 6rem;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.track {
  position: relative;
  flex-grow: 1;
  width: 2rem;
  border: 3px solid var(--primary-color);
  border-radius: 20px;
  background-color: rgba(var(--primary-rgb), 0.45);
  cursor: pointer;
}

.thumb {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 4rem;
  height: 4rem;
  background-image: linear-gradient(
    45deg,
    var(--secondary-color) 30%,
    var(--primary-color) 60%
  );
  border-radius: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.knob-ui {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  height: 100%;
}

.knob {
  width: 17rem;
  height: 17rem;
  background-image: radial-gradient(
    circle,
    #1a1a1a 40%,
    #0f0f0f 60%,
    #1b2a3a 90%
  );
  border-radius: 50%;
  border: 2px solid #444;
  cursor: pointer;
  position: relative;
}

.knob::after {
  content: "";
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 4px;
  height: 25%;
  background-color: var(--primary-color);
  border-radius: 20px;
  transform-origin: bottom;
}

.main-settings {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #121212;
  border-radius: 11px;

  width: 75rem;
  height: 50rem;
  border: 3px solid var(--primary-color);
  z-index: 1800;
}
