/* Primary colors: #f3ba3e, #1c7ed6, #ae3ec9, #d6336c, #74b816, #37b24d, #31572c, #c084fc, #ff3c9e, #5b21b6
   Primary RGB: 243, 186, 62; 28, 126, 214; 174, 62, 201; 214, 51, 108; 116, 184, 22; 55, 178, 77; 49, 87, 44;
   Secondary colors: #f08c00, #1864ab, #862e9c, #a61e4d, #5c940d, #2b8a3e, #1b3a24, #a855f7, #ff6b00, #9333ea
*/

:root {
  --col-num: 5;
  --grid-gap: 2rem;
  --left-width: 26vw;
  --right-width: 74vw;
  --primary-color: #f3ba3e;
  --primary-rgb: 243, 186, 62;
  --secondary-color: #f08c00;
  --logo-icon-size: 3.7rem;
  --ui-gap: 0.8rem;
  --icon-text-gap: 1rem;
  --default-font-size: 1.4rem;
  --default-padding: 2rem;
  --card-playBtn-pos: 0.8rem;
}
